#usually 3000, but can be any integer
PORT=<some integer>

# Get string from console.neon.tech dashboard
PGUSER="example_neondb_owner"
PGPASSWORD="example_nrl_yp4FL99aslmn"
PGHOST="this-is-just-an-example.c-2.ap-southeast-1.aws.neon.tech"
PGDATABASE="example_neondb"
